<h1>My Playground</h1>
<h3>This is my playground site using Heroku + GitHub + MongoDB + Ruby on Rails</h3>
<h6> //>> Welcome#index</h6>
<br>

<h4>Click <a href="/people">here</a> and see the people!</h4>
<h4>Click <a href="/articles">here</a> and see my posts!</h4>